* {
	padding: 0px;
	margin: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
	display: block;
}

body {
	background: #D8D8D8;
	font: 12px Open Sans, sans-serif;
}

input, select {
	font: 12px Open Sans, sans-serif !important;
}

#wrapper {
	width: 960px;
	margin: 0px auto;
}

h1 {
	padding: 20px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

.login, .register {
	margin: 0px auto;
}

button {
	padding: 5px 0px;
	font: 12px Open Sans, sans-serif;
}

.register {
	margin-top: 20px;
}

.login input, .register input, .register select {
	margin-bottom: 5px;
}

.register label {
	width: 100px !important;
}

.main_menu {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #6BB7FF;
	padding: 5px;
}

.menu_item {
	margin-right: 5px !important;
	padding: 5px 10px;
}

.profilelist_item {
	padding: 10px;
	background: #AAA;
	margin-top: 0px;
	border-top: 1px solid #888;
	margin-right: -10px;
}

.profilelist_item:hover {
	background: #BBB;
}

.b1 {
	width: 32px;
	height: 32px;
	background: white url('add.png') no-repeat top !important;
	border: 1px solid #FF0000;
	font-weight: bold;
}

.foo {
	text-align: center;
}

header h1 {
	color: #0084FF;
	text-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
}

#portal {
	width: 143px;
	margin: 20px auto;
	background: #6BB7FF;
	border-radius: 2px;
	padding: 0px 10px 12px;
}

#portal h3 {
	color: #0084FF;
}

#linkportal {
	text-decoration: none;
	color: #FFF;
	background: #0084FF;
	padding: 4px 8px;
	border-radius: 2px;
}

.gwt-TabBarItem {
	margin: 0px;
	padding: 5px 10px;
	background: #AAA;
}

.gwt-TabBarItem:hover {
	background: #000;
}