* {
	padding: 0px;
	margin: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
	display: block;
}

body {
	margin: 0px !important;
}

#wrapper {
	width: 960px;
	margin: 0px auto;
}

h1 {
	padding: 20px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

.login, .register {
	margin: 0px auto;
	background: #666;
	padding: 20px;
	border-radius: 5px;
}

.register {
	margin-top: 20px;
}

.login input, .register input, .register select {
	margin-bottom: 5px;
}

.register label {
	width: 100px !important;
}

.main_menu {
	background: #666;
	padding: 5px;
}

.menu_item {
	margin-right: 5px !important;
	height: 64px;
}

.profilelist_item {
	padding: 10px;
	background: #AAA;
	margin-top: 5px;
	margin-right: -10px;
}

.profilelist_item:hover {
	background: #CCC;
}

.b1 {
	width: 32px;
	height: 32px;
	background: white url('add.png') no-repeat top !important;
	border: 1px solid #FF0000;
	font-weight: bold;
}


.foo {
	text-align: center;
}