<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <servlet>
	  <servlet-name>profileServlet</servlet-name>
	  <servlet-class>com.banan.server.ProfileServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>simServlet</servlet-name>
  	<servlet-class>com.banan.server.SimServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>userServlet</servlet-name>
  	<servlet-class>com.banan.server.UserServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>profileServlet</servlet-name>
	  <url-pattern>/banan/profile</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>simServlet</servlet-name>
  	<url-pattern>/banan/sim</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>userServlet</servlet-name>
  	<url-pattern>/banan/user</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Banan.html</welcome-file>
  </welcome-file-list>

</web-app>
